script(src=scripts.jquery)
script(src=scripts.popper defer)

// PRO - Need license before go-live
script(src=scripts.mdb defer)

script(src=scripts.bootstrap async defer)

script(src=scripts.admin async defer)
